.item {
  padding: 16px 24px;
  margin-top: 16px;
  background-color: $color-1d;
  border-radius: 24px;

  &:first-child {
    margin-top: 0;
  }

  @include sm-down {
    padding: 14px 16px;
  }
}

.item-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.3px;

  @include sm-down {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.256px;
  }
}

.item-text {
  position: relative;
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: $color-rgba;
  letter-spacing: -0.4px;
  white-space: pre-wrap;

  &:first-of-type {
    margin-top: 16px;
  }

  &::after {
    position: absolute;
    top: 6px;
    left: 0;
    width: 14px;
    height: 14px;
    content: '';
    background-color: $color-blue;
    border-radius: 50%;

    @include sm-down {
      left: 10px;
      width: 9px;
      height: 9px;
    }
  }

  @include sm-down {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.256px;
  }
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.image-wrapper {
  position: relative;
  right: -6px;
  padding: 10px;
  border-radius: 50%;

  @include sm-down {
    padding: 0;
    background: none !important;
  }
}

.image {
  vertical-align: middle;
}
