*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-1d;
}

.menu-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
}
