.questions {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-black;
  border-top: 1px solid $color-1d;
  border-bottom: 1px solid $color-1d;
  border-radius: 64px 64px 0 0;

  @include sm-down {
    padding-top: 40px;
    padding-bottom: 80px;
    border-radius: 20px 20px 0 0;
  }
}

.title-questions {
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  letter-spacing: -4.8px;

  @include sm-down {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.304px;
  }
}

.text {
  margin-top: 24px;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  color: $color-rgba;
  text-align: center;
  letter-spacing: -0.64px;

  @include sm-down {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.4px;
  }
}

.list-links {
  display: flex;
  column-gap: 48px;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  list-style: none;

  @include sm-down {
    column-gap: 20px;
  }
}

.list {
  max-width: 780px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  list-style: none;

  @include sm-down {
    max-width: 320px;
    margin-top: 48px;
  }
}

.image {
  vertical-align: middle;

  @include sm-down {
    display: block;
    max-width: 24px;
  }
}

.link {
  display: block;
  font-size: 32px;
  font-weight: 600;
  color: $color-blue;
  text-decoration: none;
  opacity: 0.6;
  transition: $transition-base;

  &:hover {
    opacity: 1;
  }

  @include sm-down {
    padding: 12px;
    background-color: rgb(67 161 247 / 16%);
    border-radius: 50%;
  }
}

.link-text {
  margin-left: 12px;

  @include sm-down {
    display: none;
  }
}
