.midas-token {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-black;
  border-top: 1px solid $color-1d;
  border-bottom: 1px solid $color-1d;
  border-radius: 64px;
}

.title {
  font-size: 130px;
  font-weight: 700;
  line-height: 120px;
  text-align: center;
  letter-spacing: -7.8px;

  @include sm-down {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.304px;
  }
}

.content {
  display: flex;
  row-gap: 80px;
  column-gap: 40px;
  align-items: center;
  justify-content: space-between;
  margin-top: 160px;

  &:nth-of-type(3) {
    margin-top: 160px;
  }

  @include lg-down {
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }

  @include sm-down {
    row-gap: 40px;
  }
}

.content-title {
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -4.8px;

  @include sm-down {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.024px;
  }
}

.text {
  max-width: 580px;
  margin-top: 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  color: $color-rgba;
  letter-spacing: -0.64px;

  @include sm-down {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.256px;
  }
}

.text-span {
  color: $color-white;
}

.block-animation-maps {
  order: -1;

  @include lg-down {
    order: 0;
  }
}

.link {
  display: block;
  max-width: 256px;
  padding: 24px 48px;
  margin-top: 144px;
  margin-right: auto;
  margin-left: auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: $color-black;
  text-align: center;
  letter-spacing: -0.576px;
  background-color: $color-white;
  border: 1px solid $color-white;
  border-radius: 24px;
  transition: $transition-base;

  &:hover {
    color: $color-white;
    background: none;
  }

  @include lg-down {
    max-width: 320px;
    margin-top: 40px;
  }
}
