.hero {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: $color-black;
  border-top: 1px solid $color-1d;
  border-bottom: 1px solid $color-1d;
  border-radius: 0 0 64px 64px;

  @include sm-down {
    padding-top: 32px;
    padding-bottom: 24px;
    border-radius: 0 0 20px 20px;
  }
}

.title {
  font-size: 130px;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: -9.1px;

  @include sm-down {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.8px;
  }
}

.title-span {
  display: inline-block;
  padding-bottom: 15px;
  text-shadow: 0 16px 64px rgb(78 185 255 / 16%);
  background: linear-gradient(225deg, #577cff 0%, #4cbfff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
  justify-content: center;
  margin-top: 136px;

  @include sm-down {
    margin-top: 60px;
  }
}

.content {
  align-items: center;
  justify-content: center;
  max-width: 380px;
  background: rgb(255 255 255 / 8%);
  border: 1px solid rgb(255 255 255 / 4%);
  border-radius: 24px;
  box-shadow: 0 24px 48px -24px rgb(10 12 15 / 16%);
  backdrop-filter: blur(60px);
}

.text-wrapper {
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
  text-align: center;

  @include sm-down {
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 28px;
  }
}

.text {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.576px;

  @include sm-down {
    max-width: 265px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
  }
}

.link {
  display: inline-block;
  margin-top: 12px;
  color: $color-rgba;
  opacity: 0.6;
  transition: $transition-base;

  &:hover {
    color: $color-white;
    opacity: 1;
  }
}
